html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 1.5;
  min-width: 320px;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  font-size: 14px;
}
